/* CSS declarations go here */
*{
    margin: 0;
    z-index: 1;
}

/********************************************/
/*GENERAL AND HEADER*/
/********************************************/

body{
    min-width: 1200px;
}

#header{
    height: 100px;
    min-width: 1200px;
}

#title{
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    color: #555555;
    top: 2.8%;
    margin-left: 12%;
}

.register{
    position: absolute;
    left: 60%;
    top: 15px;
    min-width: 700px;
}

#template{
    margin: 0;
}

.login{
    position: absolute;
    left: 60%;
    top: 38px;
    min-width: 700px;
}

input[type=submit] {
    background-color: #eeeeee;
    font-family: 'Raleway', sans-serif;
    border: none;
    cursor: pointer;
    border-radius: 10%;
}

input[type=submit]:hover {
    background-color: #cccccc;
}

#message{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    width: 300px;
    position: absolute;
    left: 70%;
    top: 30px;
}

#message p{
    display: inline-block;
    margin-right: 2%; 
}

/********************************************/
/*MAIN BODY*/
/********************************************/
    
#dashlist{
    vertical-align: middle;
    min-width: 800px;
    height: 40px;
    text-align: center;
    font-size: 0;
}

#navigator{
    margin: auto;
    text-align: center;
    list-style: none;
    padding: 0;
    width: 600px;
    vertical-align: middle;
    font-size: 0;
}

#navigator li{
    vertical-align: middle;
    width: 150px;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    height: 40px;
    text-align: center;
    font-size: 16px;
    background: #f8f8f8;
}

#navigator li:hover{
    background: #e8e8e8;
}

.active{
    background: #e8e8e8;
}

#navigator a{
    position: relative;
    top: 10px;
    text-decoration: none;
}

/********************************************/
/*INNER BODY GENERAL*/
/********************************************/

#innerdash{
    vertical-align: middle;
}

#innernav{
    margin-top: 50px;
    list-style: none;
    margin-left: 10%;
    vertical-align: middle;
    font-size: 0;
}

#innernav li{
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 14px;
    width: 150px;
    height: 30px;
    border: 1px #dddddd solid;
    border-top-right-radius: 10%;
    border-top-left-radius: 10%;
    text-align: center;
    vertical-align: middle;
    border-bottom: 0px;
}

#innernav li:hover{
    background: #efefef;
}

#innernav a{
    text-decoration: none;
    position: relative;
    top: 8px;
}

#outer{
    border-radius: 5%;
    border-style: solid;
    border-width: 1px;
    border-color: #cccccc;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 650px;
}

#template{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 95%;
}

.page-header{
    font-family: 'Open Sans', sans-serif;
    color: #555555;
    margin-bottom: 15px;
}

.list-group{
    list-style: none;
    font-family: 'Raleway', sans-serif;
}

form{
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 14px;
}

/********************************************/
/*HOME TAB*/
/********************************************/

#home{
    margin-top: 50px;
}

#home .hello{
    margin-left: 15%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    letter-spacing: 2px;
    color: #777777;
    margin-bottom: 30px;
}

#home .info{
    margin: 0 0 20px 18%;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

/********************************************/
/*REMINDERS TAB*/
/********************************************/
.fc-body{
    z-index: 2;
}

.fc-today-button{
    display: none;
}

#popup{
    display: none;
    height: 400px;
    width: 800px;
    border: 1px solid #cccccc;
    position: absolute;
    top: 300px;
    left: 260px;
    background: #eeeeee;
    z-index: 2;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    border-radius: 5%;
}

li{
    list-style-type: none;
}

#events-calendar{
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

.fc-left{
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}

.title{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}

#blackscreen{
    display: none;
    position: absolute;
    opacity: 0.65;
    background: black;
    height: 1250px;
    width: 1250px;
    top: 0;
    left: 0;
}

#actions{
    margin-top: 5px;
    margin-left: 30px;
}

#actions li{
    margin-bottom: 10px;
}

.filter{
    margin-right: 20px;
    font-weight: 600;
}

.transportation{
    margin-left: 20px;
}

.listactions{
    margin-top: 20px;
}

.description{
    margin-bottom: 20px;
}

.description h2{
    font-size: 16px;
}

.description p{
    margin-top: 5px;
    margin-bottom: 5px;
}

#popup button{
    display: inline;
    margin-right: 20px;
}

button {
	border-radius: 12px;
	font-size: 14px;
	border: none;
	cursor: pointer;
	color: white;
	background-color: #606060;  
    vertical-align: middle;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

.submit {
	width: 200px;
	height: 25px;
}

.close{
	width: 50px;
	height: 25px;
}

